<?xml version="1.0" encoding="ISO-8859-1" ?>

<configuration>

	<!-- Allow environment variables to override file-based defaults -->
   <system/>
   <env />
   
    <!-- Server-level properties. Properties set here will override package properties -->
	<properties fileName="/etc/ordsconfig/ords.properties"/>


</configuration>